<!DOCTYPE html>
<html>
  <head>
    <title>Pairin Interview Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- PAIRIN SURVEY, language select?, progress bar (fills if user is logged in, depends on how done they are), checkbox list vs tiles -->
    <%= yield %>
  </body>
</html>
